@tailwind base;
@tailwind components;
@tailwind utilities;

button:active:hover,
button:active:focus {
    animation: button-pop 0s ease-out;
    transform: scale(var(--btn-focus-scale, 0.97));
}

button:active:hover,
button:active:focus {
    animation: button-pop 0s ease-out;
    transform: scale(var(--btn-focus-scale, 0.97));
}